<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Change Password or Email</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /login route -->
          <form action="/user/edit?_method=PUT" method="post">
            <div class="form-group">
              <label for="email">New Email</label>

              <input type="email" class="form-control" name="email" />
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
            <a class="btn btn-light" href="/profile" role="button"
              >Back to Profile</a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
